body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.directive {
  border: 1px solid #ccc;
  background-color: #dbebff;
  padding: 16px;
  margin-bottom: 32px;
}

.red {
  color: red;
}

.underlined {
  text-decoration: underline;
}
